
# Default ignored files
/.idea.ICD0008-2019f.dir/.idea/workspace.xml
/.idea.Prax2019FDaytime/.idea/workspace.xml
# Datasource local storage ignored files
/.idea.ICD0008-2019f/.idea/dataSources.local.xml