@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="container-fluid text-center display-4" style="background-color:whitesmoke; width: 400px; margin-top: 1px; padding: 5px;border-radius: 2%">
    Minesweeper
</div>
<div class="container-fluid text-center" style="background-color:whitesmoke; width: 400px; margin-top: 1px; padding: 5px;border-radius: 2%">
    Before you start playing, read the game tips. My version has a different kind of flagging system.
</div>
<div class="container-fluid text-center" style="background-color:whitesmoke; width: 400px; margin-top: 1px; padding: 5px;border-radius: 2%">
    <a class="nav-link" style="font-size: xx-large" asp-page="GameRules">Tips</a>
</div>
